{% extends 'layouts/base.html' %} {% load static %} {% block pagetitle %} Blogs
| Create Blog {% endblock pagetitle %} {% block pagecontent %}
<div class="container my-5">
  <div class="pagetitle mb-4">
    {% if '/blogs/blog/edit/' in request.path %}
    <h1>edit Blog</h1>
    {% else %}
    <h1>add Blog</h1>
    {% endif %}

    <nav>
      <ol class="breadcrumb"></ol>
    </nav>
  </div>

  <section class="section">
    <div class="col-md-10 justify-content-center">
      <div class="card">
        <div class="card-body pt-5">
          <form class="row g-3" method="post" id="add-blog-form">
            {% csrf_token %}

            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="id_title" placeholder="title" name="title" maxlength="200"
                  required {% if form.title.value %}value="{{form.title.value}}" {% endif %} />
                <label for="id_task">blog title</label>
              </div>
            </div>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="id_description" name="description"
                style="height: 100px">
{% if form.description.value %}{{form.description.value}}{% endif %}</textarea>
              <label for="id_description">description</label>
            </div>

            <div class="col-12">
              <h4>Post:</h4>
              {{form.media}} {{form.post}}
            </div>

            <label class="col-sm-2">category:</label>
            <div class="col-sm-4">{{form.categories}}</div>

            <div class="text-center">
              {% if '/blogs/blog/edit/' in request.path %}
              <button type="submit" class="btn btn-primary">Update</button>
              {% else %}
              <button type="submit" class="btn btn-primary">Create</button>
              {% endif %}
              <a href="{% url 'blogapp:blog_dashboard' %}" class="btn btn-secondary">back</a>
              <div class="btn btn-secondary" id="fill-data">fill</div>
            </div>
          </form>

          <div id="success" class="text-danger"></div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- contianer - ends-->
{% endblock pagecontent %}

{% block extrascripts %}
<script>
  $(document).ready(function () {
    if ("{{request.user.is_authenticated}}" == "True") {
      var user_id ={{ request.user.id }};
    }

    $("#fill-data").on('click', function () {
      $('#id_title').val('test title')
      $('#id_description').val('test description')
      $('#id_categories').val('3')
    })

    $("#add-blog-form").on("submit", function (event) {
      event.preventDefault();

      var data_post = CKEDITOR.instances.id_post.getData();
      $.ajax({
        type: 'POST',
        url: "http://127.0.0.1:8000/api/blogs/",
        "headers": {
          "Content-Type": "application/json",
          "x-csrftoken": $("[name=csrfmiddlewaretoken]").val()
        },
        data: JSON.stringify({
          title: $("#id_title").val(),
          description: $('#id_description').val(),
          post: data_post,
          user: {
            id: user_id
          },
      categories : {
      id: $('#id_categories').val()
    }
        }),
    success: function (data) {
      window.location.href = "{% url 'blogapp:blog_dashboard' %}"
    },
  error: function (e) {
    if (confirm('you are not logged in please log to create a new blog ')) {
      window.location.href = "{% url 'accounts:user_login' %}";
    }else{
      alert("you cannot create new blog without login")
    }
  }
      });
    })
  });
</script>
{% endblock extrascripts %}