{% extends 'layouts/base.html' %}
{% load static %}
{% block pagetitle %} Blogs | Categories {% endblock pagetitle %}


{% block pagecontent %}

<div class="container my-5">
    <div class="card my-5  ">
        <div class="card-body">
            <h5 class="card-title">Add Cotegory : </h5>
            <form method="post" id="category-from">
                {% csrf_token %}
                <div class="mb-0">
                    <input type="text" class="form-control" name="category" id="id_category"
                    placeholder="create new category">
                    <label for="id_category" id="invalid_category" class="text-danger mb-0 mt-1"></label>
                </div>
                <div class="mt-0 text-end">
                    <button type="submit" class="btn ms-2 btn-outline-info">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="container my-5 d-flex justify-content-center">

        <ul id="list_category" class="list-group col-4"></ul>
</div>




{% endblock pagecontent %}

{% block extrascripts %}

<script>
    function deleteCategory(id) {
        $.JquerydeleteCategory(id)
    }
    $(document).ready(function () {
        var JwtToken = localStorage.getItem("jwtToken");

        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/api/category/",
            headers: {
                "Authorization": ` Bearer ${JwtToken}`
            },
            success: function (data) {
                $.each(data, function (index, category) {
                    $("#list_category").append(`
                    <li class="list-group-item">
                        ${category.name} 
                        
                    {% if request.user.is_superuser%}
                    <button type="button" id="del-category" onclick="deleteCategory(${category.id})" class="btn me-2 col-3 float-end btn-outline-danger">Delete</button>
                    {% endif %}
                    </li>
                `)
                })
            },
            error: function (e) {
                console.log(e)
            }
        })

        $("#category-from").on("submit", function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "http://127.0.0.1:8000/api/category/",
                dataType: "json",
                headers: {
                    "Authorization": ` Bearer ${JwtToken}`,
                    "Content-Type": "application/json",
                    "x-csrftoken": $("[name=csrfmiddlewaretoken]").val(),
                },
                data: JSON.stringify({
                    "name": $("#id_category").val()
                }),
                success: function () {
                    location.reload();
                }, error: function (e) {
                    if (e.status == "400"){
                        $("#invalid_category").text(JSON.stringify(e.responseJSON.name[0]))
                    }else {
                        console.log(e)
                    }
                }

            })
        })

        $.JquerydeleteCategory = function (id) {
            if (confirm('are you sure want to delete this category?')) {
                $.ajax({
                    type: 'DELETE',
                    url: `http://127.0.0.1:8000/api/category/${id}/`,
                    headers: {
                        "Authorization": ` Bearer ${JwtToken}`,
                        
                    },
                    success: function (e) {
                        alert("category deleted")
                        location.reload();
                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            } else {
                alert('category is not deleted ');
            }
        }

    });
</script>


{% endblock extrascripts %}