{% extends 'layouts/base.html' %}
{% load static %}
{% block pagetitle %} Blogs | Dashboard {% endblock pagetitle %}


{% block pagecontent %}
<div id="loding-page">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div class="container my-5">
  <div id="blog-card-main" class="row row-cols-1  row-cols-sm-2 row-cols-md-3 g-3">



  </div> <!-- card - rows -end -->
</div> <!-- card - contianer - ends-->

{% endblock pagecontent %}

{% block extrascripts %}

<script>
  $(document).ready(function () {
    $.ajax({
      type: 'GET',
      url: "http://127.0.0.1:8000/api/myblogs",
      beforeSend: function () {
        $("#loding-page").show();
      },
      complete: function () {
        $("#loding-page").hide();
      },
      success: function (data) {
        if (data.length != 0){
        $.each(data, function (index, blog) {
          $("#blog-card-main").append(`
          <div class="col">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h2 class="card-title">${blog.title}</h2>
          <h6>
            <span>author &nbsp; : &nbsp;</span> ${blog.user.username}
          </h6>
          <h6 class="card-subtitle mb-2 text-body-secondary"><span>category &nbsp; :
              &nbsp;</span>${blog.categories.name}</h6>
          <h5 class="card-text text-truncate">${blog.description}</h5>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="http://127.0.0.1:8000/blogs/blog/details/${blog.id}">
                <button type="button" class="btn btn-sm me-2 btn-outline-primary">View</button>
              </a>
              <a href="http://127.0.0.1:8000/blogs/blog/edit/${blog.id}">
                <button type="button" class="btn btn-sm me-2 btn-outline-success">Edit</button>
              </a>
              
            </div>
          </div>
        </div>
      </div> 
    </div>
          `)


        })
      }else{
        $("#blog-card-main").html(`
        <div class="col m-auto">
      <div class="card" style="width: 25rem;">
        <div class="card-body text-center">
          <h3>no blogs found !</h3>
          <h4>
            you haven't created blog yet
          </h4>
          </div>
          </div>
          </div>
        `)
      }
      },
      error: function (e) {
        $("#loding-page").hide();
        console.log(e)
      }
    });
  });
</script>


{% endblock extrascripts %}