<div class="b-example-divider"></div>


  <footer class="d-flex flex-wrap justify-content-around align-items-center py-4 my-1 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 BLOGS APP, Inc</span>
    </div>

    <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#">X</a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#">INSTA</a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#">FB</a></li>
    </ul>
  </footer>
