{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme= 'dark'>

<head>
  {% include 'includes/head.html' %}
  <title>
    {% block pagetitle %}
    {% endblock pagetitle %}
  </title>
  {% block extrastyle %}
  
  {% endblock extrastyle %}
</head>

<body>
  
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock header %}

    {% block pagecontent %}
    {% endblock pagecontent %}

    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock footer %}
  
    {% block scripts %}
        {% include 'includes/scripts.html' %}
    {% endblock scripts %}
</body>
<!-- Custom jquery File -->

{% block extrascripts %}
{% endblock extrascripts %}

<script>
  $(document).ready(function (){
      $("#logout-user").on("click",function (){
        localStorage.removeItem("jwtToken");
      })
  })
</script>

</html>