{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme= 'dark' >

<head>
  {% include 'includes/head.html' %}
  <title>
    {% block pagetitle %}
    {% endblock pagetitle %}
  </title>
  {% block extrastyle %}
  
  {% endblock extrastyle %}
</head>

<body>
    {% block pagecontent %}
    {% endblock pagecontent %}

  
    {% block scripts %}
        {% include 'includes/scripts.html' %}
    {% endblock scripts %}
</body>
<!-- Custom jquery File -->
{% block extrascripts %}
{% endblock extrascripts %}

</html>